:root {
    --theme-color: 170, 0, 0;
    --txt-color: #FFF;
    --font-families: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --off-white-color: 222, 222, 222;
}

body {
    overflow-y: scroll;
    font-family: var(--font-families);
}

input {
    display: block;
    margin-block-start: 0.375em;
    margin-block-end: 0.375em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form_error_message {
    visibility: hidden;
    color: red;
}

[aria-invalid="true"] {
    outline: 2px solid red;
}

[aria-invalid="true"]+.form_error_message {
    visibility: visible;
}

[aria-hidden="true"] {
    visibility: hidden;
}

[aria-hidden="false"] {
    visibility: visible;
}

#loading_overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: hidden;
}

#loading_circle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(var(--theme-color));
    width: 80px;
    height: 80px;
    animation: spin 1.2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

hr {
    border: none;
    height: 1px;
    color: rgb(var(--theme-color));
    background-color: rgb(var(--theme-color));
}

h3 {
    margin-top: 0;
}

.row {
    display: block;
}

.col_200,
.col_remaining {
    display: inline-block;
    vertical-align: top;
}

.nav_item {
    display: block;
    margin-bottom: 0.75em;
    height: 3em;
    width: 100%;
    text-align: left;
}

.nav_item:last-child {
    margin-bottom: 0;
}

.col_200 {
    width: 200px;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid rgb(var(--theme-color));
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* X-Small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}